name: docker-builds

on:

  workflow_dispatch: # manual option
  schedule:
    - cron: '0 0 1 * *' # every month

env:
  REGISTRY_GITHUB_DOMAIN: ghcr.io
  REPO_NAME_FULL: ${{ github.repository }}

jobs:

  build:
    runs-on: windows-2022
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # v3.2.0
        with:
          registry: ${{ env.REGISTRY_GITHUB_DOMAIN }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: docker-commands # from dockerfile
        working-directory: ./docker/base-w2022-core
        run: |
          $DOCKER_TAG="ghcr.io/${{ github.repository }}/base-w2022-core:latest"
          docker build -t "${DOCKER_TAG}" .
          docker push "${DOCKER_TAG}"